html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik Mono One", sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

/* styling for home page */

#icon,
#logo,
p,
.input {
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#logo,
p {
  text-align: center;
  width: 50%;
}

#mission {
  padding-top: 20px;
  padding-bottom: 20px;
}

#logo {
  padding: 0;
}
#feed-container {
  overflow: auto;
}

.jumbo {
  height: 400px;
  padding: 30px;
}

.input {
  max-width: 500px;
}

.btn {
  margin: 10px;
}

.arrow-icon {
  font-size: 40px;
  color: green;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: -20px;
}

.login-form {
  margin-top: 80px;
}

.about-us {
  margin-top: 100px;
  height: 100vh;
  background-color: rgba(128, 128, 0, 0.693);
}

/* styling for Post component */

/* styling for SideNav componetn */

.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
#sidebar-wrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}
