body {
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik Mono One", sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}
/* styling for home page */

#icon,
#logo,
p,
.input {
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#logo,
p {
  text-align: center;
  width: 50%;
}

#mission {
  padding-top: 20px;
  padding-bottom: 20px;
}

#logo {
  padding: 0;
}

.jumbo {
  height: 400px;
  padding: 30px;
}

.input {
  max-width: 500px;
}

.btn {
  margin: 10px;
}

.arrow-icon {
  font-size: 40px;
  color: green;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: -20px;
}

.login-form {
  margin-top: 80px;
}

.about-us {
  height: 500px;
  margin-top: 100px;
}
