/* Post.js */

.feedBox {
    width: 100%;
    height: 9rem;
    padding: 2rem;
    margin: 1rem 1rem 1rem 1rem;
    position: relative;
    border: 2px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .14);
    background-color: AliceBlue;
    font-size: 14px;
}

.boxLabel {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    margin: 1rem 1rem 1rem 1rem;
}

.checkBox {}

.dropdownContent {
    margin: 1rem 1rem 1rem 1rem;
    background-color: #f9f9f9;
    min-width: 20%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.button {
    margin: 1rem 1rem 1rem 1rem;
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}