.feed-container {
  margin-bottom: 25px;
  margin-top: 25px;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

#feed-container {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  min-width: 800px;
}

.feed-card {
  margin-top: 25px;
  min-width: 800px;

  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 800px;
}

#name,
#date {
  display: inline;
}

#name {
  float: inline-start;
}

#date {
  float: right;
}

.card-body {
  min-height: 100px;
}

#problem-card {
  border-color: rgb(198, 2, 2);
  border-style: solid;
  border-width: 3px;
}
