.feed-container {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 25px;

}

.feed-card {
  margin-top: 25px;
  margin-left: 205px;
  min-width: 5px;
  border: 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 700px;
  
}

#name,
#date {
  display: inline;
}

#name {
  float: inline-start;
}

#date {
  float: right;
}
