/* styling for Locals page and LocalsForm Component */

html {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h5 {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em;
  margin: 0;
}

.our-locals {
  font-size: 1em;
  padding: 0;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin-top: 70px;
  overflow-y: scroll;
}

.card::-webkit-scrollbar-track {
  border: 1px solid white;
  padding: 2px 0;
  background-color: white;
}

.card::-webkit-scrollbar {
  width: 10px;
}

.card::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px white;
  background-color: #bdc27d;
  border: 1px solid white;
}

.card-title {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em;
}

.card-text {
  clear: both;
  margin-top: 0.5em;
  color: rgba(0, 0, 0, 0.68);
  flex-direction: row !important;
  /* align-content: stretch; */
}

.card-footer {
  font-size: 1em;
  position: static;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: 0.75em 1em;
  color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
  background: #fff;
}

.our-locals {
  max-height: 400px;
  min-height: 400px;
}

.local-images {
  max-height: 350px;
  min-height: 350px;
}

.local-name {
  text-align: center;
}

.card-text-prompts {
  font-weight: bold;
  font-size: 16px;
}

.card-text-answers {
  font-weight: lighter;
  padding-bottom: 15px;
  font-size: 16px;
}
